WhatsApp AI Agent for Adidas Customer Support Chatbot.json
{
  "name": "WhatsApp AI Agent for Adidas Customer Support Chatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "type": "n8n-nodes-base.twilioTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        176
      ],
      "id": "ec83975b-2c61-4fd0-b97e-267ee486da4f",
      "name": "Twilio Trigger",
      "webhookId": "028d6045-2753-4af5-ac57-35dc07308d99",
      "credentials": {
        "twilioApi": {
          "id": "Ch9EU179Ye7AxrCt",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+923496846904",
        "toWhatsapp": true,
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        400,
        176
      ],
      "id": "4ae0961f-8736-4e4f-b091-abbba22f5adc",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "Ch9EU179Ye7AxrCt",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Query: {{ $json.body }}",
        "options": {
          "systemMessage": "=Adidas accepts returns within 30 days. Items must be unused with tags. \nDefective items returnable within 90 days. Refund in 7 business days. \nContact support@adidas.com with order ID to start return."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        176
      ],
      "id": "f33044e0-ed31-4d16-bf4c-09f648392b5e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -192,
        400
      ],
      "id": "534ef11b-015a-455a-b8f8-6a2895c56647",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "cH6BcaM7qAFjw1tO",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appA51t8VB0Upto6y",
          "mode": "list",
          "cachedResultName": "Adidas",
          "cachedResultUrl": "https://airtable.com/appA51t8VB0Upto6y"
        },
        "table": {
          "__rl": true,
          "value": "tbl9f4nLdxWDW0Pye",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://airtable.com/appA51t8VB0Upto6y/tbl9f4nLdxWDW0Pye"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', `Filter based on Price, the field name is product_price`, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.2,
      "position": [
        -64,
        400
      ],
      "id": "9870c5d5-fa2b-4485-94ba-4c013b330748",
      "name": "order_records",
      "credentials": {
        "airtableTokenApi": {
          "id": "1yzDOM1frnthNXv0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appA51t8VB0Upto6y",
          "mode": "list",
          "cachedResultName": "Adidas",
          "cachedResultUrl": "https://airtable.com/appA51t8VB0Upto6y"
        },
        "table": {
          "__rl": true,
          "value": "tblaV9R4CuGRjHwD5",
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://airtable.com/appA51t8VB0Upto6y/tblaV9R4CuGRjHwD5"
        },
        "filterByFormula": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', `Filter based on order_id, the field name is order_id`, 'string') }}",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.2,
      "position": [
        64,
        400
      ],
      "id": "7b791ae0-0e25-45ee-8f42-dee1e504b6b2",
      "name": "order_tracking",
      "credentials": {
        "airtableTokenApi": {
          "id": "1yzDOM1frnthNXv0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appA51t8VB0Upto6y",
          "mode": "list",
          "cachedResultName": "Adidas",
          "cachedResultUrl": "https://airtable.com/appA51t8VB0Upto6y"
        },
        "table": {
          "__rl": true,
          "value": "tblTObtbYgeOZ9ljR",
          "mode": "list",
          "cachedResultName": "Tickets",
          "cachedResultUrl": "https://airtable.com/appA51t8VB0Upto6y/tblTObtbYgeOZ9ljR"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}",
            "Assignee": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Assignee', ``, 'string') }}",
            "Status": "Todo"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                },
                {
                  "name": "Status",
                  "value": "Status"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.2,
      "position": [
        192,
        400
      ],
      "id": "73be32f3-3245-4117-8b4e-1c646e65b168",
      "name": "create_ticket",
      "credentials": {
        "airtableTokenApi": {
          "id": "1yzDOM1frnthNXv0",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"return_policy\": \"Adidas accepts returns within 30 days. Items must be unused with tags Defective items returnable within 90 days. Refund in 7 business days. Contact support@adidas.com with order ID to start return.\"\n}",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "data.body",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        176
      ],
      "id": "41bb5c37-7930-4eeb-8701-37583b221121",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "order_records": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "order_tracking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "create_ticket": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7fa59fe2-e091-4a15-a18c-2fc9a23fe425",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6109cdd71c6d63e7403c53dac104577908281c3a5805bba736c094d2a291360b"
  },
  "nodeGroups": [],
  "id": "rVenYXGt4gX6Edl5",
  "tags": []
}